html {
    font-size: 16px;
}

body {
    height: 800px;
    width: 1440px;
    background: black;    
}

#contenedor {
    margin: 0 auto;
    height: 800px;
    width: 1440px;
    background: #66ff66;
}

#pregunta {
    position:absolute;
    text-align: center;
    top: 50px;
    left: 100px;
    height: 150px;
    width: 1240px;
    font-size: 4em;
    text-shadow: 3px 3px 3px white;
    color:  #3399FF;
    background: #ff33ff;
}
.respuesta {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 300px;
    display: inline-block;
    background-image:url("../imagenes/interrogacion.png");
}

#respuesta_1 {
    left: 45px;
}
#respuesta_2 {
    left: 395px;
}
#respuesta_3 {
    left: 745px;
}
#respuesta_4 {
    left: 1095px;
}

#reset {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 700px;
    left: 700px;
    font-size: 2em;
    color:   #3399FF;
}

/*
#div_contenedor_pregunta {
    height: 300px;
    position: relative;
}

#div_contenedor_respuestas{
    height: 500px;
    text-align:center;
}
#div_contenedor_reset {
    height: 100px;
    position: relative;
}

#div_pregunta {
    width: 1240px;
    height: 150px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
*/

